body{
	margin-top: 65px;	
	color: #3b3a36;
}

.container{
	padding-bottom:20px;
}

.card-block-1{
	background: #89bdd3;
}

.card-block-2{
	background: #89bdd3;
}

.card-block-3{
	background: #9ad3de;
}

.card-block-4{
	background: #9ad3de;
}